extends layout

block header
  .jumbotron
    h1.text-center Workout Manager

block content
  .container
    .row
      button#search-button(type='button') Search
    .row
      #muscles.col-md-6
      #exercises.col-md-6

block footer
  .container
    .row
      .col-md-12
        p
          | Authors:
          a(href='https://github.com/dyndrilliac') Matthew Boyette
          | ,
          a(href='#') Sean Domingo
          | ,
          a(href='https://github.com/meganmolumby') Megan Molumby
          | ,
          a(href='https://github.com/KhueNguyen10') Khue Nguyen
        p
          a(href='https://github.com/Dyndrilliac/IP-Final-Project') GitHub Repository