doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include css.pug
    include head-scripts.pug
  body
    include header.pug
    block content
    include footer.pug
    include body-scripts.pug
