extends layout

block content
  .container#content
    .row
      button#search-button(type='button') Search
    .row
      #muscles.col-md-6
      #exercises.col-md-6
  script(type='text/javascript' src='/javascripts/me.js')