block scripts
  script(type='text/javascript' src='/javascripts/jquery.min.js')
  script(type='text/javascript' src='/bootstrap/js/bootstrap.min.js')
  script(type='text/javascript' src='/javascripts/script.js')
